<!-- Place this tag where you want the button to render. -->
<a
  class="github-button"
  href="https://github.com/jomaendle/ngx-progress-indicator/subscription"
  data-color-scheme="no-preference: light; light: light; dark: dark;"
  data-icon="octicon-eye"
  data-size="large"
  data-show-count="true"
  aria-label="Watch jomaendle/ngx-progress-indicator on GitHub"
  >Watch on GitHub</a
>

<h1 class="text-3xl font-bold mb-4">SVG Progress Indicator</h1>

<app-progress-indicator [size]="190" [progress]="progress()" />

<div class="flex flex-col gap-4">
  <div class="grid grid-cols-2 gap-4">
    <button (click)="updateBy10()">Increment by 10</button>
    <button (click)="decrementBy10()">Decrement by 10</button>
  </div>

  <div class="grid gap-4 grid-cols-2">
    <button (click)="progress.set(75)">Set to 75</button>
    <button (click)="reset()">Reset</button>
  </div>
</div>
